@if (VM.HayNotificaciones) {
  <div class="notificaciones">
    @for (item of VM.Listado; track item; let i = $index) {
      <div class="notificacion" [class.error]="item.Type === VM.NotificationType.error"
        >
        {{item.Message}}
        <button type="button" class="close" aria-label="Close" (click)="VM.remove(i)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    }
    <div class="center">
      <button class="btn btninfo btn-outline-primary" type="button" (click)="VM.clear()">Cerrar</button>
    </div>
  </div>
}
