<p>
  <input type="button" value="add" (click)="add()">
  <input type="button" value="edit" (click)="edit(0)">
</p>
<form #miForm="ngForm">
  <div>
    <label for="id">código:</label>
    <input type="number" id="id" name="id" [(ngModel)]="elemento.id" #id="ngModel"
      required min="0">
    <output class="error" [hidden]="!id.hasError('required') || miForm.pristine">Es obligatorio</output>
  </div>
  <div>
    <label for="nombre">nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="elemento.nombre" #nombre="ngModel"
      required minlength="2" maxlength="10" upp>
    <output class="error" [hidden]="nombre.valid">{{nombre.errors | errormsg}}</output>
  </div>
  <div>
    <label for="apellidos">apellidos:</label>
    <input type="text" id="apellidos" name="apellidos" [(ngModel)]="elemento.apellidos" #apellidos="ngModel"
      minlength="2" maxlength="10">
    <output class="error" [hidden]="apellidos.valid">{{apellidos.errors | errormsg}}</output>
  </div>
  <div>
    <label for="edad">edad:</label>
    <input type="number" id="edad" name="edad" [(ngModel)]="elemento.edad" #edad="ngModel"
      min="16" max="67">
    <output class="error" [hidden]="edad.valid">{{edad.errors | errormsg}}</output>
  </div>
  <div>
    <label for="fecha">fecha:</label>
    <input type="date" id="fecha" name="fecha" [(ngModel)]="elemento.fecha" #fecha="ngModel">
    <output class="error" [hidden]="fecha.valid">{{fecha.errors | errormsg}}</output>
  </div>
  <div>
    <label for="nif">nif:</label>
    <input type="text" id="nif" name="nif" [(ngModel)]="elemento.nif" #nif="ngModel"
      pattern="^\d{1,8}[A-Za-z]$" nifnie>
    <output class="error" [hidden]="nif.valid">{{nif.errors | errormsg:'Tiene que tener entre 1 y 8 dígitos, terminado en una letra'}}</output>{{nif.errors | json}}
  </div>
  <div>
    <label for="correo">correo:</label>
    <input type="email" id="correo" name="correo" [(ngModel)]="elemento.correo" #correo="ngModel">
    <output class="error" [hidden]="correo.valid">{{correo.errors | errormsg}}</output>
  </div>
  <p>
    <input type="button" value="enviar" (click)="send()" [disabled]="miForm.invalid">
    <input type="button" value="volver" (click)="cancel()">
  </p>
</form>
